page-cadastro {
  .flex-container{
    display: flex;
    flex-direction: column;
  }

  h1{
    font-family: 'MavenPro' !important;
    padding-top: 15px;
    margin: 18px;


    font-style: Medium;
    font-weight: bold;
    font-weight: 500;
    line-height: normal;
    font-size: 22px;

    color: #000000;
  }

  placeholder-text{
    $colors: black;

  }

}

