

.button-style{
  margin: 8%;
  width: 90%;
  height: 65%;
  position: relative;
  margin-left: 5%;
}

.card-style{
  padding-top: 3%;
}

.ion-list-header style{
  font-size: 20px;
}

.button-menu{
  width: 50%;
  height: 50%;
}
