page-cadastro2 {

  h1{
    font-family: 'MavenPro' !important;
    padding-top: 15px;
    margin: 18px;


    font-style: Medium;
    font-weight: 500;
    line-height: 25px;
    font-size: 22px;
    box-align: left;

    color: #000000;


  }

  .list-forms {

    position: absolute;
    margin-bottom: 20%;
    padding-top:5%;
    margin-left: 0%;
    margin-right:0%;

    font-size: 18px;
    top: 0px;

    ion-item {

      &:first-child {
        margin: 0%;
      }

      &:after {
        margin: 0%;
        display: block;
      }

      ion-label {
        font-size: 1em;
        margin: 7%;

      }

      ion-checkbox{
        margin-bottom: 20%;
      }

      input {
        margin: 0%;
      }
    }

    ion-checkbox{
      margin-bottom: 5px;
    }

    ion-label{
      margin-bottom: 5px;
    }



  }

  .button-input{
    margin: 8%;
    width: 90%;
    height: 65%;
    position: relative;
    margin-left: 8%;

  }

  .positionElements{
    padding-top: 50px;
    position: relative;
  }



  .tool-bar{
    background-color: rgb(121, 13, 13);
  }
}
