page-cadastro2 {

  h1{
    font-family: 'MavenPro' !important;
    padding-top: 4%;
    margin: 10%;
    margin-left: 6%;


    font-style: Medium;
    font-weight: 500;
    line-height: 25px;
    font-size: 22px;
    box-align: left;

    color: #000000;


  }

  .list-forms {

    position: absolute;
    padding: 0%;
    margin-bottom: 20%;
    padding-top:9%;
    margin-left: 0%;
    margin-right:0%;

    font-size: 16px;
    top: 0px;

    ion-item {

      &:first-child {
        margin: 0%;
      }

      &:after {
        margin: 0%;
        display: block;
      }

      ion-label {
        font-size: 1em;
        margin: 3%;
        color: #000;
      }

      ion-checkbox{
        margin-bottom: 20%;

      }

      input {
        margin: 0%;
      }
    }

    ion-input {
      margin:2%;
      padding-top: 8%;
      padding-bottom: 3%;
      border-bottom: 1px solid #000;
      ::placeholder{
          color:black !important;
          font-size: 16px;
      }
    }

  }

  .button-Continuar{
    //float: center;
    margin-top:5%;
    padding: 0%;
    width: 120%;
    height: 120%;

  }


  .tool-bar{
    background-color: rgb(121, 13, 13);
  }
}
